.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .btn {
    padding: 10px;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    background: #cc0000;
    color: white;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    border: none;
    width: 150px;
    transition: 0.2s;

    &:hover {
      background: #ed0101;
    }

    &[disabled] {
      background: gray;
      cursor: not-allowed;
    }
  }

  .gif {
    display: flex;
  }
}
