.wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .options {
    display: flex;
    padding: 20px;

    .btn {
      padding: 10px;
      border-radius: 6px;
      margin: 5px;
      cursor: pointer;
      background: #cc0000;
      color: white;
      text-transform: uppercase;
      outline: none;
      box-shadow: none;
      border: none;
      width: 75px;
      transition: 0.2s;

      &:hover {
        background: #ed0101;
      }

      &[disabled] {
        background: gray;
        cursor: not-allowed;
      }
    }
  }

  .player {
    display: flex;
  }
}
